framework: >= net462
redirects: on

source https://api.nuget.org/v3/index.json

nuget MassTransit.Autofac
nuget MassTransit.Automatonymous
nuget MassTransit.Marten
nuget MassTransit.RabbitMQ
nuget MassTransit.MongoDB
nuget Topshelf.Autofac
nuget Marten 2.3.2